
*/.ipynb_checkpoints
*/__pycache__

vivado/

design_1.bit
design_1.hwh 

#######################################################################################
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

solution*

output
repo
vivado*
.apc
Debug
.cproject
.project
.settings
.vivado*
*HLS
HLS*
.Xil
.dat


